.cart-total {
    width: 600px;
    background-color: white;
    margin: auto;
    display: flex;
    padding: 10px 14px;
    align-items: center;
}
.cart-total > div {
    width: 50%;
}
.cart-total .ct-checkout {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}
.cart-total .ct-checkout button {
    border: none;
    padding: 7px 10px;
    background-color: var(--red);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
