.custom-heading {
    width: 80%;
    margin: auto;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.custom-heading h1 {
    font-size: 1.9rem;
    color: var(--red);
    text-transform: uppercase;
    position: relative;
}
.custom-heading h1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}
